@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #FBE3C7;
  --color-on-primary: #18020C;

  --color-background: #FFF7E1;

  --left-drawer-width: 250px;
  /*
  TODO: add the following colors


  --color-secondary:
  --color-on-secondary:

  --color-tertiary:
  --color-on-tertiary:

  --color-background:
  --color-on-background:
  */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #808F85;
    --color-on-primary: #F6CD61;

    --color-background: #18020C;
  }
} */