@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #53a457;
  /*
  TODO: add the following colors

  --color-on-primary:

  --color-secondary:
  --color-on-secondary:

  --color-tertiary:
  --color-on-tertiary:

  --color-background:
  --color-on-background:
  */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #c8d422;
  }
}