@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-bg {
  background: linear-gradient(-90deg, var(--color-background) 10%, var(--color-background-alt) 100%);
}

.bg-primary {
  background: linear-gradient(90deg, var(--color-primary) 50%, var(--color-primary-alt) 100%);
}

:root {
  --color-primary: #FBE3C7;
  --color-primary-alt: #ffdaaf;

  --color-on-primary: #18020C;
  --color-on-primary-alt: #5a1534;

  --color-background: #FFF7E1;
  --color-background-alt: #fdf8ea;

  --left-drawer-width: 250px;
  /*
  TODO: add the following colors


  --color-secondary:
  --color-on-secondary:

  --color-tertiary:
  --color-on-tertiary:

  --color-background:
  --color-on-background:
  */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #808F85;
    --color-on-primary: #F6CD61;

    --color-background: #18020C;
  }
} */